.properties-home {
    padding-top: 120px;
}

.properties-home .title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.content-properties {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;


}