.footer-content {
    margin-top: 120px;
    background-color: #1e1e1e;
    text-align: center;
    padding: 40px 0px;
}

.footer-content p {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    align-items: center;
}

.footer-content a {
    color: #fff;
}

@media (min-width:768px) {
    .footer-content p {
        font-size: 16px;
    }
}